<%= include_gon %>

<% @cards.each do |card| %>
  <div class="card-wrapper">
  <%= image_tag(card.image, class: owned_or_not(card)) %>
  <% if card_quantity(card) > 0 %>
    <%= form_tag collection_path, method: "get", class: "incr_or_decr", id: "decrement" do %>
      <%= hidden_field_tag(:card_id, card.id) %>
      <%= submit_tag "-", name: nil, class: "user btn card-count-changer" %>
    <% end %>
  <% end %>
  <p class="numbers"><%= card_quantity(card) %></p>
  <% if card_quantity(card) < 2 %>
    <%= form_tag collection_path, method: "get", class: "incr_or_decr", id: "increment" do %>
      <%= hidden_field_tag(:card_id, card.id) %>
      <%= submit_tag "+", name: nil, class: "user btn card-count-changer" %>
    <% end %>
  <% end %>
  </div>
<% end %>

<%= will_paginate @cards, :page_links => false,
                          :previous_label => '<i class="material-icons">keyboard_arrow_left</i>',
                          :next_label => '<i class="material-icons">keyboard_arrow_right</i>' %>

<% if last_page_in_class? && !searching? %>
  <a class="next-icon next_page" id="next"><i class="material-icons">keyboard_arrow_right</i></a>
<% elsif first_page_in_class? %>
  <a class="prev-icon previous_page" id="prev"><i class="material-icons">keyboard_arrow_left</i></a>
<% end %>
