<% provide(:title, 'Collection') %>

<body class="collection-page">
<%= link_to "Home", root_path, class: "waves-effect waves-light home-button" %>
<div class="deck-icons shadow-2">
	<ul>
		<%= image_tag("druid.png", id:"Druid", class:"deck-sort-icon icon-selected btn-floating sort-icon") %>
		<%= image_tag("hunter.png", id:"Hunter", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("mage.png", id:"Mage", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("paladin.png", id:"Paladin", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("priest.png", id:"Priest", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("rogue.png", id:"Rogue", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("shaman.png", id:"Shaman", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("warlock.png", id:"Warlock", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("warrior.png", id:"Warrior", class:"deck-sort-icon btn-floating sort-icon") %>
		<%= image_tag("neutral.png", id:"Neutral", class:"deck-sort-icon btn-floating sort-icon") %>
	</ul>
</div>
	<div class="my-tabs">
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Decks</h6>
		</div>
		<div class="my-tab shadow-2">
			<h6 class="rotated tabs-text">Custom</h6>
		</div>
	</div>
	<div class="row">
		<div class="col s12 collections-bg noselect">
				<div class="collection-container">
				</div>
					<div class="col s9" id="class-cards">
						<%= form_tag collection_path, method: "get", id: "cards-search" do %>
						<p>
							<%= text_field_tag :search, params[:search], placeholder:"Search", class:"shadow-2" %>
							<%= submit_tag "Search", name: nil %>
						</p>
						<% end %>
						<ul>
							<div id="cards">
								<%= render 'coll_cards' %>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
