<% provide(:title, "Home") %>
    <body class="white-bg home">
      <div class="row">
      	<div class="col l4 m12 s12 user info">
      		<h1><%= @user.username %></h1>
      		<hr class="half thin-hr"/>
      		<h2>Dust: <%= @user.collection.dust %> </h2>
      	</div>
      	<div class="col l6 offset-l2 m12 s12 user data">
      	</div>
      	<!--<div class="col l4 s12 user actions">
      		<a class="btn waves-effect waves-light" href="#">Manage Collection</a>
      		<a class="btn waves-effect waves-light" href="#">Add More Decks</a>
      	</div>-->
      </div>

      <div class="decks">
	      <div class="row">
	      	<div class="col s4 offset-s4">
	      		<h4>Tracked Decks</h4>
	      		<hr class="thin-hr half" id="tracked-decks-line">
	      	</div>
	      </div>
			  <div class="row">
			  	<% @tracked_decks.each_slice(3).with_index do |slice, slice_idx| %>
			  		<div class="row">
			  		<% slice.each_with_index do |tracked_deck, deck_idx| %>
              <a><%= link_to deck_path(tracked_deck) do %>
    			  		<div class="col l4 m12 s12">
    			  			<figure class="tracked-deck btn">
                    <div class="deck-class-bar <%= tracked_deck.deck_class %>">
                      <h6><i><%= tracked_deck.deck_class %></i></h6>
                    </div>
                    <div class="deck-info">
                      <h6 class="info-heading">Deck Name</h6>
                      <h6><%= tracked_deck.name %></h6>
                      <div class="info-width">
                        <h6 class="info-heading">Cards Owned</h6>
                        <h6 class="cards-owned numbers"><%= @num_owned[deck_idx + slice_idx * 3] %>/30</h6>
                      </div>
                      <div class="info-width">
                        <h6 class="info-heading">Dust to Craft</h6>
                        <h6 class="numbers"><%= @dust_to_craft[deck_idx + slice_idx * 3] %></h6>
                      </div>
                      <div class="progress ">
                        <div class="determinate" style="width: 0%" id="progress-bar"></div>
                      </div>
                    </div>
    			  			</figure>
    			  		</div>
              <% end %></a>
			  		<% end %>
			  		</div>
			  	<% end %>
				</div>
			</div>
    </body>
