<% provide(:title, "Log in") %>
    <body>
      <div class="col s12 login-wrap valign-wrapper">
        <div class="login-signup valign center-align">
          <h4 class="login-selected" id="login">Login</h4>
          <h4 class="login-notselected" id="signup"><%= link_to "Sign up", signup_path, :id => "links"%></h4>
          <div class="input-field">
            <div id="login-content">
            <%= form_for(:session, url: login_path) do |f| %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'email', id: 'login-email'%>
                <%= f.password_field :password, class: 'form-control', placeholder: 'password', id:'login-password' %>
                <%= f.submit "Login", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </body>
