<% provide(:title, 'Sign up') %>
    <body>
      <div class="col s12 login-wrap valign-wrapper">
        <div class="login-signup valign center-align">
          <h4 class="login-notselected" id="login"><%= link_to "Login", login_path, :id => "links"%></h4>
          <h4 class="login-selected" id="signup">Sign up</h4>
          <div class="input-field">
            <div id="login-content" class="hide">
            </div>
            <div id="signup-content">
              <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages' %>
                <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'email'  %>
                <%= f.password_field :password, class: 'form-control', placeholder: 'password'  %>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm password'  %>
                <%= f.submit "Create my account", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </body>
        