<% provide(:title, 'Decks') %>
    <body class="white-bg">
      <div class="row sort-search">
		  <div class="col s12">
		  	<div id="All" class="deck-sort-icon btn-floating sort-icon decks icon-selected"><h4>ALL</h4></div>
		  	<%= image_tag("druid.png", id:"Druid", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("hunter.png", id:"Hunter", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("mage.png", id:"Mage", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("paladin.png", id:"Paladin", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("priest.png", id:"Priest", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("rogue.png", id:"Rogue", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("shaman.png", id:"Shaman", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("warlock.png", id:"Warlock", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  	<%= image_tag("warrior.png", id:"Warrior", class:"deck-sort-icon btn-floating sort-icon decks") %>
		  </div>
      </div>
<!--       <div class="row mobile-search">
      	<div class="col s12">
      		<input placeholder="search" id="search-field" type="text">
      	</div>
      </div> -->

      <div class="decks">
      	<div class="row">
      		<div class="col l4 m12 s12">
      			<h4>Recommended</h4>
      			<hr class="half"/>
      			<div id="recommended-decks">
              <%= render 'recommended_decks' %>
            </div>
					</div>

      		<div class="col l4 m12 s12">
      			<h4>Current Popular Decks</h4>
      			<!-- Dropdown Trigger -->
      			<div class='dropdown-button btn tier-dropdown-trigger' data-hover="true" href='#' data-activates='dropdown1'>Tiers</div>

      			<!-- Dropdown Structure -->
      			<ul id='dropdown1' class='dropdown-content tier-dropdown'>
      			  <li class="tiers left" id="1"><a href="#!">Tier 1</a></li>
      			  <li class="divider"></li>
      			  <li class="tiers center" id="2"><a href="#!">Tier 2</a></li>
      			  <li class="divider"></li>
      			  <li class="tiers center" id="3"><a href="#!">Tier 3</a></li>
      			  <li class="divider"></li>
      			  <li class="tiers right" id="4"><a href="#!">Tier 4</a></li>
      			</ul>
      			<hr class="half"/>
      			<div id="meta-decks">
      				<%= render 'meta_decks' %>
      			</div>
      		</div>
      		<div class="col l4 m12 s12">
      			<h4>My Custom Decks</h4>
      			<hr class="half"/>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Hunter">
		  					<h6><i>Hunter</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Priest">
		  					<h6><i>Priest</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Rogue">
		  					<h6><i>Rogue</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      		</div>
      	</div>
    </body>

