<% provide(:title, 'Decks') %>
    <body class="white-bg">
      <div class="row sort-search">
		  <div class="col s8">
		  	<%= image_tag("druid.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("hunter.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("mage.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("paladin.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("priest.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("rogue.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("shaman.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("warlock.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  	<%= image_tag("warrior.png", class:"deck-sort-icon btn-floating sort-icon") %>
		  </div>
		  <div class="col s4">
			<input placeholder="search" id="search-field" type="text">
      	  </div>
      </div>
<!--       <div class="row mobile-search">
      	<div class="col s12">
      		<input placeholder="search" id="search-field" type="text">
      	</div>
      </div> -->

      <div class="decks">
      	<div class="row">
      		<div class="col l4 m12 s12">
      			<h4>Recommended</h4>
      			<hr class="half"/>
      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Shaman">
		  					<h6><i>Shaman</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Warlock">
		  					<h6><i>Warlock</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Mage">
		  					<h6><i>Mage</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>
					</div>
	

      		<div class="col l4 m12 s12">
      			<h4>Tier 1 Meta - TS</h4>
      			<hr class="half"/>
      			<% @meta_decks.each_slice(3).with_index do |slice, slice_idx| %>
      				<% slice.each_with_index do |meta_deck, deck_idx| %>
				  			<a><%= link_to deck_path(meta_deck) do %>
					  			<figure class="tracked-deck btn">
										<div class="deck-class-bar <%= meta_deck.deck_class %>">
											<h6><i><%= meta_deck.deck_class %></i></h6>
										</div>
					  				<div class="deck-info">
					  					<h6 class="info-heading">Deck Name</h6>
											<h6><%= meta_deck.name %></h6>
											<div class="info-width">
												<h6 class="info-heading">Cards Owned</h6>
										  	<h6 class="cards-owned numbers"><%= @num_owned[deck_idx + slice_idx * 3] %>/30</h6>
										  </div>
										  <div class="info-width">
										  	<h6 class="info-heading">Dust to Craft</h6>
		  				  				<h6 class="numbers"><%= @dust_to_craft[deck_idx + slice_idx * 3] %></h6>
		  				  			</div>
	  				  				<div class="progress ">
	  				  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
	  				  				</div>
										</div>
									</figure>
								<% end %></a>
							<% end %>
						<% end %>

      		</div>
      		<div class="col l4 m12 s12">
      			<h4>My Custom Decks</h4>
      			<hr class="half"/>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Hunter">
		  					<h6><i>Hunter</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Priest">
		  					<h6><i>Priest</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      			<figure class="tracked-deck btn">
		  				<div class="deck-class-bar Rogue">
		  					<h6><i>Rogue</i></h6>
		  				</div>
		  				<div class="deck-info">
		  					<h6 class="info-heading">Deck Name</h6>
			  				<h6>Midrange Druid</h6>
			  				<div class="info-width">
			  					<h6 class="info-heading">Cards Owned</h6>
			  					<h6 class="cards-owned numbers">25/30</h6>
			  				</div>
			  				<div class="info-width">
			  					<h6 class="info-heading">Dust to Craft</h6>
			  					<h6 class="numbers">360</h6>
			  				</div>
			  				<div class="progress">
			  					<div class="determinate" style="width: 0%" id="progress-bar"></div>
			  				</div>
							</div>
						</figure>

      		</div>
      	</div>
    </body>

