<div class="navbar-fixed z-depth-0">
  <nav>
    <ul id="nav-mobile" class="side-nav z-depth-1">
        <li><a href="index.html">home</a></li>
        <li><a href="#">login/signin</a></li>
    </ul>
    
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper z-depth-1">
      <%= link_to "Hearth Helper", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, class: "waves-effect waves-light" %></li>
        <% if logged_in? %>
          <li><%= link_to "Decks", '#', class: "waves-effect waves-light" %></li>
          <li><%= link_to "Collection", '#', class: "waves-effect waves-light" %></li>
          <li><%= link_to "Sign Out", logout_path, method: "delete", class: "waves-effect waves-light" %></li>
        <% else %>
          <li><%= link_to "Sign In", login_path, class: "waves-effect waves-light" %></li>
        <% end %>
      </ul>


    </div>
  </nav>
</div>
